@import '~scss_vars';

header {
    background: #fff;
    border-bottom: 1px solid $grey;
    box-shadow: inset 0 0 0 0 $grey,0 2px 1px 0 rgba(47,61,73,.05);
    color: #2e3d49;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    position: fixed;
    z-index: 444;

    @include respond-to('sm', 'xs') {
        height: 65px;
    }

    @include respond-to('lg') {
        height: 72px;
    }

    .header-inner {
        display: flex;
        padding: 0 15px;

        @include respond-to('sm', 'xs') {
            padding: 0 5px;
        }

        @include respond-to('lg') {
            padding: 0 15px;
        }

        .navicon {
            width: 48px;
            height: 48px;
            padding: 12px;
            line-height: 1;
            font-size: 24px;
            @include respond-to('lg') {
                display: none;
            }
        }

        span.title {
            line-height: 1;
            font-size: 24px;
            align-items: center;
            display: flex;
        }
    }
}
