{
    "plugins": ["lodash",
        [
            "transform-runtime", {
                "helpers": false,
                "polyfill": false,
                "regenerator": true,
                "moduleName": "babel-runtime"
            }
        ],
    "transform-decorators-legacy", "react-hot-loader/babel"],
    "presets": ["es2015", "react", "stage-0"]
}
