@import '~scss_vars';

.ui.sidebar {
  // combine sidebar with dimmer, when sidebar is visible on mobile
  z-index: 111111111!important;

  .logo {

    @include respond-to('sm', 'xs') {
      padding: 15px 5px;
    }

    @include respond-to('lg') {
      padding: 18px 5px;
    }

    background-color: #f5f5f5;
    text-align: center;
  }

  .logout {
    position: absolute!important;
    border-top: 1px solid rgba(34,36,38,.15);
    bottom: 0;
    width: 100%;
    cursor: pointer;
  }
}
