<!doctype html>
<html lang="<%=htmlWebpackPlugin.options.language%>">

<head>
    <meta charset="utf-8">
    <title><%=htmlWebpackPlugin.options.title%></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Production-ready, performance-first, template built with React/Redux/React-Semantic-UI">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/" />
    <!-- NOTE:FaviconsWebpackPlugin doesn't generate meta content below: -->
    <!-- Disable tap highlight on IE -->
    <meta name="theme-color" content="<%=htmlWebpackPlugin.options.theme_color%>"/>
    <meta name="msapplication-tap-highlight" content="no">
    <!-- Web Application Manifest -->
    <link rel="manifest" href="manifest.json">

    <!-- META TAG THAT IS REPLACED WITH INLINE STYLES IN SSR -->
    <meta name="ssr-styles"/>
</head>

<body>
    <div id="app"></div>
    <noscript>
      You are using outdated browser. You can install modern browser here: <a href="http://outdatedbrowser.com/" >http://outdatedbrowser.com</a>.
    </noscript>
</body>

</html>
